<h1>New Species</h1>

<% if flash[:error] %>
  <p style='color:red;'>
    <%= flash[:error] %>
    <br/>
    <%= @species.errors.full_messages.join(" - ") %>
  </p>
<% end %>

<%= render partial: 'form' %>
